---
export interface Props {
	title: string;
	logoSrc:string;
}

const { title, logoSrc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logoSrc} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
		margin: 0px;
		padding: 0px;
	}
	html {
		scroll-behavior: smooth;
	}
	p {
		margin: 0px;
		}
	a {
		text-decoration: none;
	}
	button {
		all: unset;
		cursor: pointer;
	}
	textarea, input { outline: none; border: none;}
	@media screen and (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
		
	}
</style>
